* {
  margin: 0;
}

body {
  background-color: #cccacc;
  color: #fffcfb;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  background-color: #ca04ec;
}

.importantNotes {
  color: #ca04ec;
}

.importantNotes .btn:hover {
  background: #ca04ec;
  color: #fff;
  border: 1px solid #ca04ec;
  outline: none;
}

.card {
  background: transparent !important;
  background-color: rgb(86, 87, 88) !important;
  box-shadow: 5px 5px 8px #1e1d1e,
      -5px -5px 8px #484748;
  width: 15rem;
}

.card-body {
  background-color: rgb(114, 115, 119) !important;
}

.btn {
  background: transparent;
  color: inherit;
  border: 1px solid;
  outline: none;
  margin-top: 1rem;
}

.btn:hover {
  background: #048f32;
  color: #fff;
  border: 1px solid #048f32;
  outline: none;
}